span{
    color: #4bcaff;
}
.logo{
    width: 1280px;
    margin: 0 auto;
}
.logo a{
    text-decoration: none;
    color: black;
}
.logo-name{
    font-size: 70px;
    font-family: Verdana,sans-serif;
    font-weight: 300;
}

.top-nav-bar{
    width: 1280px;
    background-color: #35444f;
    margin: 0 auto;
}
.link-element{
    display: inline-block;
    padding: 25px 30px;
    border: 1px groove transparent;
}
.link-element:hover{
    background-color: #222f3a;
    border-color: white;
}
.first-nav-link{
    width: 233px;
    margin-left: 203px;
}

.nav-link{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 19px;
    font-family: Verdana, sans-serif;
}

.content{
    width: 1280px;
    margin: 0 auto;
}

.left-side-nav{
    border: 1px solid;
    width: 25%;
    margin-top: 51px;
    display: inline-block;
    vertical-align: top;

}
.left-side-nav a:hover{
    color: black;
    margin-left: 26px;
}

.left-side-element{
    display: block;
    padding-top: 20px;
    padding-left: 44px;
    padding-bottom: 20px;
}

.left-side-element:hover{
    background-color: #dbdbdb;
}

.l-side-link{
    text-decoration: none;
    font-size: 20px;
    color: #61706c;
    font-family: Verdana, sans-serif;
}

.content-img{
    margin-left: 3%;
    margin-top: 51px;
    width: 71%;
    border: 1px solid;
    display: inline-block;
    float: right;
}
.image{
    padding: 75px 297px;
    transition: transform 1s;
}
.image:hover{
    transform: scale(1.1);
}
.content-tex{
    width: 65%;
    display: inline-block;
    margin-left: 32%;
    margin-top: 40px;
    font-family: Verdana, sans-serif;
    color: #2c2c2c;
}
.second-text{
    margin-top: 10px;
}
.page-footer{
    background-color: #b4b7ba;
    width: 1280px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 30px auto 0;
}
.footer-link{
    text-decoration: none;
    color: #0c1927;
    margin-left: 24px;
    font-size: 20px;
}
.footer-link:hover{
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
    padding-bottom: 4px;
}
.footer-list{
    padding-left: 20px;
}

.footer-list li{
    display: inline;
    list-style: none;
    padding-left: 15px;
    font-family: Verdana, sans-serif;
}
.f-link-section{
    display: inline-block;
    width: 82%;
}
.copy-symbol{
    display: inline-block;
    width: 17%;
}
.copy-text{
    color: #0c1927;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}
